html{
    height: 100%;
}
body{
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}


.jumbotron.text-center{
    font-family: 'Montserrat', sans-serif;
    background-image: url(header.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: rgb(34, 45, 62);
    border-radius: 10px;
    margin: 5px;
}

.jumbotron h1{
    color: #fff;
    -webkit-text-stroke: rgb(36, 45, 68);
    -webkit-text-stroke-width: 0.5px;
    border-radius: 10px;
}

.jumbotron p{
    color: #fff;
    -webkit-text-stroke: #2e3849;
    -webkit-text-stroke-width: 0.5px;
    list-style-type: none;
}

.jumbotron.jumbotron-fluid{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 5px 5px;
    

}
.jumbotron.jumbotron-fluid p{
    color: #000;
    -webkit-text-stroke-width: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin: 5px;
    padding: 5px;
}

.list-group-item{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 10px;
    padding: 10px;
}

.btn-primary{
    background-color: #2e3849;
    border: 0;
    border-radius: 0px 10px 10px 0px;
}

li {
    font-family: 'Mali', cursive;
    font-size: 1.5em;
}

li button {
    font-family: sans-serif;
}

.done {
    text-decoration: line-through;
}

.input-group{
    background: rgba(255, 255, 255, 0.5);
    padding: 0px;
    margin: opx;
    border-radius: 10px;
}

input[type="text"]{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.container{
    border-radius: 10px;
    padding: 5px;
}
.input-group-append{
    margin: 0px 0px 0px 0px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.5em;
    margin: 5px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateX(-100%);
}
